<ng-container *ngIf="!viewQuestion else viewQuestions">

    <div class="container mb-5">
        <div *ngFor="let question of questions" class="query-container">
            <div class="query-title" (click)="viewQuestionFnc(question)">
                {{question.questionMeta.title}}
            </div>
            <div class="query-body">
                {{question.questionMeta.body}}
            </div>
            <div class="query-tags-container">
                <div *ngFor="let tag of question.questionMeta.tags">
                    <div class="query-tags">
                        {{tag}}
                    </div>
                </div>
            </div>
            <div class="query-info">
                <div *ngIf="question.answerMeta" class="query-accept">
                    {{question.answerMeta.length}} Answers
                </div>
                <div class="query-user">
                    {{question.createdBy}}
                    <span class="query-asked"> asked {{question.createdAt}} </span>
                </div>
            </div>
        </div>
    </div>

</ng-container>

<ng-template #viewQuestions>
    <app-edit-ans-queries></app-edit-ans-queries>
</ng-template>