<div class="container">
    <form>
        <div class="query-title">
            <div>Title</div>
            <div class="common-description">Be specific and imagine you’re asking a question to another person.</div>
            <input type="text" required>
        </div>
        <div class="query-body">
            <div>Body</div>
            <div class="common-description">Introduce the problem and expand on what you put in the title.</div>
            <textarea class="query-body-field" cols="70" rows="5" required></textarea>
        </div>
        <div class="query-tags">
            <div>Tags</div>
            <div class="common-description">Add tags to describe what your question is about.</div>
            <input type="text" required>
        </div>
        <div class="query-submit">
            Submit
        </div>
    </form>
</div>