<div class="container">
    <div class="query-title">
        <div>Title</div>
        <div class="common-description">Be specific and imagine you’re asking a question to another person.</div>
        <input type="text" [(ngModel)]='titleInput'>
    </div>
    <div class="query-body">
        <div>Body</div>
        <div class="common-description">Introduce the problem and expand on what you put in the title.</div>
        <textarea [(ngModel)]='bodyInput' class="query-body-field" cols="70" rows="5"></textarea>
    </div>
    <div class="query-tags">
        <div>Tags</div>
        <div class="common-description">Add a tag to describe what your question is about.</div>
        <input [(ngModel)]='tagsInput' type="text">
    </div>
    <button type="button" (click)="submitQuery()" class="query-submit">
        Submit
    </button>
</div>