<div class="container">
    <div class="query-container">
        <div class="query-title">
            Why is processing a sorted array faster than processing an unsorted array?
        </div>
        <button class="back-btn" (click)="getAllQuestions()">
            Back to All Questions
        </button>
        <div class="query-body">
            Initially, I thought this might be just a language or compiler anomaly, so I tried Java: import
            java.util.Arrays; import java.util.Random; public class Main public static void mainString[] args …
        </div>
        <div class="query-tags-container">
            <div class="query-tags">
                javascript
            </div>
            <div class="query-tags">
                javascript
            </div>
            <div class="query-tags">
                javascript
            </div>
        </div>
        <div class="query-info">
            <div class="query-accept">
                Accepted
            </div>
            <div class="query-user">
                rishav
            </div>
        </div>
    </div>


    <div class="submitted-answers-container">
        <h5>Submitted Answers</h5>
        <div class="submitted-answers">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia nisi, libero magnam numquam ducimus aperiam
            praesentium sunt. Officiis illo nisi, quisquam totam inventore magni est, atque doloremque modi minima qui!
            <div class="accept-answer">
                Accept
            </div>
        </div>
    </div>


    <div class="edit-query">
        <div>
            <div>Edit Question</div>
            <div class="common-description">Be specific and imagine you’re asking a question to another person.</div>
            <input type="text" [(ngModel)]='editedQuestion'>
        </div>
        <div class=" edit-query-btn" (click)="editQuesion()">
            Edit
        </div>
    </div>

    <div class="answer-query">
        <div>
            <div>Answer the Question</div>
            <div class="common-description">Be specific and imagine you’re asking a question to another person.</div>
            <input type="text" [(ngModel)]='answer'>
        </div>
        <div class="edit-query-btn" (click)="submitAnswer()">
            Submit Answer
        </div>
    </div>


</div>